<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556724433686-7jue24htm04ffic9v3con2p6e322ung5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556724433686-7jue24htm04ffic9v3con2p6e322ung5</string>
	<key>API_KEY</key>
	<string>AIzaSyCRIg_nxIkYYHX1WR_JYE4z7SyExvtsY8w</string>
	<key>GCM_SENDER_ID</key>
	<string>556724433686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.turkerkizilcik.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclone-f5dd6</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-f5dd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556724433686:ios:54196d665b9e6c88259637</string>
</dict>
</plist>